bin/
exports/
logs/
target/classes/*
target/generated-sources/annotations/*
target/maven-archiver/pom.properties
target/surefire/*
target/*.jar
target/*.war
target/sywebit*

*.jar
*.class
.cache
.DS_Store
.svn

.gwt/
.metadata/
