bin/
exports/
logs/
sywebit.antlr4/target/classes/*
sywebit.antlr4/target/maven-archiver/*
sywebit.webapp/target/*
target/generated-sources/annotations/*
target/maven-archiver/*
target/surefire/*
target/*.jar
target/*.war
target/sywebit*

*.jar
*.class
.cache
.DS_Store
.svn

.gwt/
.metadata/
